@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-1px, -1px) rotate(1deg); }
    50% { transform: translate(2px, 1px) rotate(0deg); }
    75% { transform: translate(-2px, -1px) rotate(-1deg); }
    100% { transform: translate(1px, 1px) rotate(0deg); }
}

.noScroll { 
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.noScrollBody { 
    background-color: #FCDCD0;
    font-family: 'Pangolin', cursive;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body { 
    background-color: #FCDCD0;
    font-family: 'Pangolin', cursive;
    margin: 0;
    width: 100%;
    height: 100%;
}

#homeNav { 
    position: relative;
    height: 45px;
    background-color: #F17B86;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 6px;
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropbtn { 
    color: #28262C;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

.dropbtn:hover, .dropbtn:focus { 
    color: white;
    transform: scale(1.2);
}

.dropdown-content { 
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 30px;
}

.dropLetters {
    display: flex;
    gap: 60px;
    align-items: start;
    padding-left: 30px;
}

.dropdown-content a { 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: rgba(241, 123, 134, 0.9);

    font-family: 'Pangolin', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-decoration-line: none;
    color: #28262C;

}

.dropdown-content a:hover { 
    color: white;
}

.show {
    display: block;
}

.navNames { 
    color: #28262C;
    cursor: pointer;
    text-decoration-line: none;
    transition: ease-in-out 0.25s;
}

.navNames:hover { 
    color: white;
    transform: scale(1.2);
}

#footer { 
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F17B86;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    color: #28262C;
    height: 45px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 6px;
    padding-left: 35px;
    font-size: 25px;
}

#hbdText { 
    color: #F31C87;
    margin-left: 12vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 39.8px;
    text-shadow: 1px 1px 5px grey;
}

#loopyHeart {
    position: absolute;
    bottom: 65px;
    left: 18vw;
    height: 180px;

}

#loopyHeart:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

:root {
    --nav-height: 66px;
    --footer-height: 66px;
}
  
#mainPageContainer {
    height: calc(100vh - var(--nav-height) - var(--footer-height));
    margin-top: var(--nav-height);
    margin-bottom: var(--footer-height);
  
    display: flex;
    flex-direction: row;
    align-items: center;
  
    overflow: hidden;
}

#mainPageImages {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#tammyMain { 
    height: auto;
    width: 550px;
    margin-top: 28px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 12vw;
    border-radius: 10px;
}

#shockedLoopyPic { 
    width: 120px;
    height: auto;
    margin-left: 12vw;
}

#titleAndLoopy { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30vh;
    transition: ease-in-out 0.85s;
}

#titleAndLoopy:hover { 
    transform: rotate(360deg);
}

/* CSS for memories page */
#memoriesBigContainer { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#largePhotosContainer { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 55px;
}

#sixPhotos { 
    height: auto;
    width: 40vw;
    margin-bottom: 20px;
    border-radius: 30px;
    transition:ease-in-out 0.25s;
}

.elevenPhotos { 
    height: auto;
    width: 25vw;
    border-radius: 30px;
    transition: ease-in-out 0.25s;
}

.elevenPhotos:hover, #sixPhotos:hover { 
    transform: scale(1.05);
}

#kissyFace {
    color: #F31C87;
    height: 100vh;
    line-height: 75vh;
    font-size: 50px;

}

#laughingFace { 
    color: #F31C87;
    height: 100vh;
    line-height: 75vh;
    font-size: 50px;
}

#memMainContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* CSS for gift list */
#giftRowsContainer { 
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.giftRows {  
    background-color: #e8b1b8;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 55px;
    transition: transform 0.2s ease-in-out;
}

.giftRows:hover {
    transform: scale(1.03);
}

.rowSubheadings { 
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: 'Pangolin', cursive;
    color: #7a2f55;
}

.rowImages { 
    width: auto;
    height: 140px;
    margin: 20px;
}

#appleGiftCard { 
    width: auto;
    height: 140px;
    margin: 20px;
    border-radius: 10px;
}

.rowText { 
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Pangolin', cursive;
    color: #7a2f55;
    padding-left: 10px;
}

.descriptions { 
    padding-right: 3vw;
}

#conclusion { 
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    color: #7a2f55;
    font-family: 'Pangolin', cursive;
}

/* CSS for jane and adri's pages */
#janeOuterContainer, #adriOuterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#janePhoto { 
    width: 550px;
    height: auto;
    margin-right: 2vw;
    margin-left: 5vw;
    border-radius: 20px;
    margin-bottom: 0px;
}

#janeTextContainer { 
    margin-right: 5vw;
    margin-bottom: 5vh;
}

#adriPhoto { 
    width: 590px;
    height: auto;
    margin-right: 2vw;
    margin-left: 5vw;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-top: 3vh;
}

#adriTextContainer{
    margin-right: 5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 2vw;
}

.adriBodyParagraph { 
    font-size: 20px;
}

/* CSS for david and serena's pages */

#davidOuterContainer, #serenaOuterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#davidPhoto { 
    width: 350px;
    height: auto;
    margin-right: 5vw;
    border-radius: 20px;
    margin-bottom: 0px;
}

#davidTextContainer {
    margin-left: 5vw;
    margin-right: 2vw;
    margin-bottom: 5vh;
}

.davidBodyParagraph { 
    font-size: 20px;
}

#serenaPhoto { 
    width: 600px;
    height: auto;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 20px;
    margin-bottom: 5vh;
}

#serenaTextContainer { 
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 3vw;
}

.serenaBodyParagraph { 
    font-size: 16px;
    margin-bottom: 0;
}

#hugGif { 
    width: 140px;
    height: auto;
    margin-left: 22vw;
    margin-top: 0;
    margin-bottom: 2vh;
}