body { 
    background-color: #FCDCD0;
    font-family: 'Pangolin', cursive;
    margin: 0;
}

h1 {
    margin-top: 0;
    padding-top: 350px;
    padding-left: 150px;
}

#homeNav { 
    position: fixed;
    height: 45px;
    background-color: #F17B86;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 6px;
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.dropbtn { 
    color: #28262C;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus { 
    color: white;
}

.dropdown-content { 
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropLetters {
    display: flex;
    gap: 60px;
    align-items: start;
}

.dropdown-content a { 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: rgba(241, 123, 134, 0.46);

    font-family: 'Pangolin', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-decoration-line: none;
    color: #28262C;

}

.dropdown-content a:hover { 
    color: white;
}

.show {
    display: block;
}

.navNames { 
    color: #28262C;
    cursor: pointer;
    text-decoration-line: none;
}

.navNames:hover { 
    color: white;
}

#footer { 
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F17B86;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    color: #28262C;
    height: 45px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 6px;
    padding-left: 150px;
    font-size: 25px;
}

#hbdText { 
    color: #F31C87;
}

#loopyHeart { 
    height: 200px;
    width: auto;
    padding-top: 121px;
    padding-left: 200px;
}

#tammyMain {
    height: 200px;
    width: auto;
    border-radius: 50px;
    float: right;
    margin-bottom: 500px; /* optional spacing from top */
    margin-right: 450px; /* spacing from the right edge */
}